.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;

  .mainLayout {
    display: flex;
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;

    .content {
      flex-grow: 1; /* Permite que o conteúdo ocupe o restante do espaço */
      padding: 20px;
      background-color: #f9f9f9;
      transition: margin-left 0.3s ease-in-out;
    }
  }

  /* Quando a sidebar está oculta */
  &.sidebar-hidden .mainLayout {
    margin-left: 80px; /* Ajuste baseado na largura da sidebar oculta */
  }

  /* Quando a sidebar está visível */
  &.sidebar-visible .mainLayout {
    margin-left: 255px; /* Ajuste baseado na largura da sidebar visível */
  }
}
