.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  // margin-left: 255px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 30px 0px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  height: 30px;
}

.notification {
  color: rgb(245, 142, 94);
  cursor: pointer;  
}
