.infoLists {
  h1 {
    color: #421c7c;
    font-size: 24px;
    margin: 0;
    display: inline-block; /* Permite alinhar com o botão ao lado */
    vertical-align: middle;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;

    .title{
      display: flex;

      button {
        margin-left: 20px;
            background: none;
            color: #ff1616;
            font-size: 32px; /* Aumenta o tamanho do ícone */
            border: none;
            cursor: pointer;
            transition: color 0.3s, transform 0.2s;

            &:hover {
              color: #d32f2f;
              transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
            }
          }
    }
      
      .addButton {
        margin-right: 50px;
        display: flex;
        background-color: #421c7c ;
        color: white;
        border: none;
        border-radius: 50%;
        width: 70px; /* Aumenta o tamanho do botão */
        height: 70px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 56px;
        transition: background-color 0.3s, transform 0.2s;

        svg {
          font-size: 56px;
        }

        &:hover {
          background-color:#ec7322;
          transform: scale(1.1); /* Leve aumento ao passar o mouse */
          svg {
            color: #ffffff;
          }
        }
    }
  }

  .itemsList {
    list-style: none;
    padding: 0;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
      transition: background-color 0.2s;

      &.completed {
        text-decoration: line-through;
        color: #888;
        background-color: #e0e0e0;
      }

      .left {
        display: flex;
        align-items: center;
        // gap: 50px;

        .checkButton {
          background: none;
          border: none;
          padding:20px 60px 20px 20px;
          cursor: pointer;

          .check {
            color: rgb(20, 180, 42);

            &:hover {
              color: rgb(151, 151, 151);
            }
          }

          .nocheck {
            color: rgb(83, 83, 83);

            &:hover {
              color: rgb(17, 184, 44);
            }
          }

          svg{
            font-size: 40px;
            &:hover {
            font-size: 45px;
          }}
        }

        .dueDate {
          font-size: 12px;
          color: #888;
        }
      }

      .actions {
        display: flex;
        gap: 10px;

        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 20px;
          color: #563f80;
          transition: color 0.3s, font-size 0.2s;
          padding: 20px 10px 20px 0;
          font-size: 25px;
 
          &.editButton:hover {
            color: #06bb3d;
          }

          &.deleteButton:hover {
            color: #ff1616;
            font-size: 32px;
          }
          &:hover{
            font-size: 28px;
          }
        }
        .deleteButton{
          font-size: 28px;
          margin-right: 30px;
        }
      }
    }
  }
}
