.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
  }

  &.completed {
    background-color: #eaeaea !important; /* Sobrescreve a cor de prioridade */
    text-decoration: line-through;
    h3,span,strong,p {
      color: #bbb !important; /* Sobrescreve as cores da prioridade */
    }

  }
  h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }

  &.priority-baixa {
    h3,
    span {
      color: #1cc72a;
    }
  }

  &.priority-média {
    h3,
    span {
      color: #226dce;
    }
  }

  &.priority-importante {
    h3,
    span {
      color: #f87c17;
    }
  }

  &.priority-urgente {
    h3,
    span {
      color: #da1212;
    }
  }
  
  .listDetails {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between; /* Coloca o título e a prioridade nos lados opostos */
      align-items: center;
      margin-bottom: 10px;

      .priority {
        font-size: 16px;
        font-weight: bold;
        color: #555;
      }
    }

    .detailsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Divide em duas colunas */
      gap: 5px 20px; /* Espaçamento entre as linhas e colunas */

      p {
        margin: 0;
        font-size: 14px;
        color: #555;

        strong {
          font-weight: bold;
        }
      }

      .category {
        color: #555;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    align-items: center;
    gap: 10px;

    button {
      margin-right: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 25px;
      color: #563f80;
      transition: color 0.2s, transform 0.2s;

      &.editButton:hover {
        color: #06bb3d;
      }

      &.deleteButton:hover {
        color: #ff1616;
        transform: scale(1.2);
      }
    }
  }
}
