.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
  cursor:pointer;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
  }

  &.completed {
    background-color: #eaeaea; /* Fundo cinza claro */
    color: #aaa; /* Texto apagado */
    text-decoration: line-through; /* Texto riscado */

    h3 {
      text-decoration: line-through;
      color: #888;
    }

    .priority,
    .category {
      color: #bbb; /* Cor mais apagada */
    }
  }

  &.priority-baixa {
    h3,
    .priority {
      color: #1cc72a;
    }
  }

  &.priority-média {
    h3,
    .priority {
      color: #226dce;
    }
  }

  &.priority-importante {
    h3,
    .priority {
      color: #f87c17;
    }
  }

  &.priority-urgente {
    h3,
    .priority {
      color: #da1212;
    }
  }

  .listDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #555;

      strong {
        font-weight: bold;
      }
    }

    .category {
      font-style: italic;
      color: #555;
    }
  }

  .actions {
    display: flex;
    gap: 10px;

    button {
      background-color: #b2dfdb00;
      padding: 5px 10px;
      // font-size: 14px;
      border: none;
      border-radius: 5px;
      color:#563f80;
      cursor: pointer;
      transition: background-color 0.2s ease;
      font-size: 25px;

      &.editButton:hover {
        color: #06bb3d;
      }

      &.deleteButton:hover {
        color: #ff1616;
        font-size: 32px;
      }
      &:hover{
        font-size: 28px;
      }
    }
    .deleteButton{
      font-size: 28px;
      margin-right: 30px;
    }
  }
}
